@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@media screen and (min-width:375px ){
*{
    margin:0px;
    padding:0px;
}

/*HEADER*/
.order {
display:flex;
justify-content: center;
}

header {
display:flex;
flex-direction: column;
}

.head{
font-size: 15px;
line-height: 30px; /*estar a altura de 200px*/
text-align: center;
justify-items: center;
}

.logo-head {
 width: 1.5em;
height: 1.5em;
margin:0px;
object-fit: cover;
margin-top:3px;
}
/*HEAD*/

/*LOGIN*/
.body-login {
    background: #FFFFFF;
}

.background-login {
padding:82px 20px;
}
.buttonindicator {
  padding:10% 2%; /**/
  }    

.buttonentry {
padding: 70px 0px 0px;
}

/*LOGIN*/

/*Screen Noticias*/
#banner h1{
  font-size: 22px;
}
   #banner .contenedor{
  font-size: 15px;
  background-size: cover;
  padding: 15px;

}
.contenedor-bm{
  font-size: 15px;
}


.pais{
  font-size: 20px;
}
.who{
  width: 100%;
}

.info-descrip{
 font-size: 10px;
  width: 50%;
 
}

.mision h3{
  font-size: 30px;
  }
  .datos {
  
    font-size: 30px; }
.info-colum{

width: 44%;
}


/*Screen Noticias*/

/*SELECT COUNTRY*/
#screen-select-country{
    flex-direction: column;
    justify-content: center; 
    }
            
#countries{
margin:5px;
display:flex;
justify-content:center;    
}

#countries ul{
width: 80%; 
list-style: none;
}


#countries ul li{
font-size:15px;
background-color: #0071BC;
width: 70px;
}

.selectcountry {
width: 100%;
height:20px ;
}
  
.selectcountry h {
font-size:10px;
font-weight: bold;
}

/*SELECT COUNTRY*/

/*Select Indicators */
#screencountry {
  width: 27%;
  }

.menu ul li{
  padding:15% 2%; /**/
}

.menu ul li ul li{
  padding:5px;/**/
  position: relative;
  width: -webkit-fill-available; /**/
  background-color: #566573  ;
  border-top: 1px solid #BDC3C7;
}

.menu ul li ul li a{
font-size: 10px; /**/
color: #FFF;
}

.menu ul li a{
font-size: 14px; /**/
padding: 5px;/* */
}

.menu ul ul{
  transition: all 0.3s;
  opacity:0;
  position: absolute;
  visibility: hidden;
  left: 100%;
  top:-2%;
  max-height: 23em;
  overflow-y: auto;
  z-index: 100;
}

.titleindicators {
font-size: 14px; /* */
}
/*Select Indicators */

/*Show grafic*/
.title-type-indicator {
  font-family: 'Open Sans', sans-serif;
  font-style: regular;
  font-size: 27px;
  color:#000000;
  font-weight: bold;
  }
/*Show grafic*/
.contselect {
  height: 20%; /**/
  font-size: 20px; /**/
  font-weight:bold;  
}

/*Presentation Peru*/

slider{
   width: 73%; /**/
  height: 28%;/**/
}
/*Presentation Peru*/ 

   
.contentancla {
width: 57%;
height: 50%;
background-color: #000000af;
display: flex;
align-items: center;
text-align: center;
}

.ancla {
color:#ffffff;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
text-align: center;
}


#screenresult {
width: 100%;
margin:10px 10%;
}
/*footer*/
.footer .foot{
  font-size: 15px;
   padding: 5px 10px;
}
/*footer*/
.multi-range::after { 
  content: attr(data-lbound) ' - ' attr(data-ubound); 
  position: absolute; top: 0; left: 100%; white-space: nowrap;
  display: block; padding: 0px 4px; margin: -1px 2px;
  height: 26px; width: auto; border: 1px solid #ddd; 
  font-size: 13px; line-height: 26px; font-weight: bold;
  color: #28395B;
}

.multi-range {
  width: 55%;
}

.indicatorname {
  font-size: 15px;
}

.prom {
  font-size: 13px;
}
}

#ordertable{
  margin:5px;
  display:flex;
  justify-content:center;    
  }
  
  #ordertable ul{
  width: 80%; 
  list-style: none;
  }
  
  
  #ordertable ul li{
  font-size:15px;
  background-color: #0071BC;
  width: 70px;
  }


@media screen and (min-width:1200px ){
   *{
       margin:0px;
       padding:0px;
   }

/*header*/
.order {
display:flex;
flex-direction: row;   
}

header {
display:flex;
flex-direction: row;
}

.head{
font-size: 40px;
width: 230px;
line-height: 100px; 
justify-content: flex-end;
margin-left: 3%;
}


.logo-head {
width: 70px;
height: 70px;
margin:0px;
object-fit: cover;
margin-top:19px;
margin-right: 40px;
margin-left:10px;
padding:0;
}

/*header*/

/*LOGIN*/
.body-login {
margin:25px;
background-image:url("img/BackgroundLogin5.png"); 
background-repeat:no-repeat;
background-attachment: fixed ;
background-size:cover;
overflow: hidden;
}
    
.master-login {
width: 460px;
height: 575px;
background: rgb(255, 255, 255);
display:flex;
align-items:center;
justify-content:center;
margin:auto;
border-radius: 10px;
}

.background-login {
padding: 0px 62.5px 20px 62.5px;
}

.buttonindicator {
padding:10px;
}

.buttonentry {
padding: 70px 0px 0px;
}
/*LOGIN*/

/*Screen Noticias*/
#banner h1{
  font-size: 42px;
}    
#banner .contenedor{
  font-size: 20px;
  padding: 15px 10%;
}
.info{
  display: flex;
  justify-content: space-between;
  margin-top: -90px;
}
.info-colum{
  width: 22%;
}

.pais{
  font-size: 30px;
  padding: 3px;
}
.who{
  width: 100%;
}

.info-descrip{
font-size: 14px;
width: 70%;

}

.info-bm {
  font-size: 20px;
}


/*Screen Noticias*/

/*Select Country*/ 

#screen-select-country{
justify-content:space-around;
justify-content: flex-start; 
margin-left: 30%;
}
    
 #countries{
width: 100%;  
}
    
#countries ul{
width:500px;
}

#countries ul li{
font-size:20px;
font-weight: 600;
width: 100px;
}

.selectcountry {
width: 100%;
height:30px ;
}

.selectcountry h {
  font-size:20px;
  font-weight: bold;
}

/*Select Country */

/*Select Indicator*/
#screencountry {
  width: 19%
}

.menu ul li{
    padding:10px;
}

.menu ul li ul li{
    padding:10px;
    position: relative;
    width: 280px;
    background-color: #566573  ;
    border-top: 1px solid #BDC3C7;
}

.menu ul li ul li a{
font-size: 15px; 
color: #FFF;
}

.menu ul li a{
font-size: 20px;
padding: 10px;
}

.menu ul ul{
    transition: all 0.3s;
    opacity:0;
    position: absolute;
    visibility: hidden;
    left: 100%;
    top:-2%;
   max-height: 23em;
    overflow-y: auto;
    z-index:100;
}

.titleindicators {
  font-size: 23px;
}

/*Show Grafic and tables*/

.title-type-indicator {
  font-family: 'Open Sans', sans-serif;
  font-style: regular;
  font-size: 27px;
  color:#000000;
}

/*Show Grafic and tables*/


.contselect {
height: 15%;
font-size: 28px;
font-weight: bold;
}


/*presentation peru*/
slider{
  width: 80%;
  height: 50%;
}
/*presentation peru*/    

/*Content presentation*/
.contentancla {
width: 57%;
height: 130px;
background-color: #000000af;
display: flex;
align-items: center;
text-align: center;
}

.ancla {
color:#ffffff;
font-family: 'Open Sans', sans-serif;
font-size: 23px;
text-align: center;
}

#screenresult {
  width: 60%;
  margin:10px 10%;
}

/*footer*/
.footer .foot{
  font-size: 25px;
   padding: 5px 20px;
}
/*footer*/

.multi-range::after { 
  content: attr(data-lbound) ' - ' attr(data-ubound); 
  position: absolute; top: 0; left: 100%; white-space: nowrap;
  display: block; padding: 0px 4px; margin: -1px 2px;
  height: 26px; width: auto; border: 1px solid #ddd; 
  font-size: 20px; line-height: 26px; font-weight: bold;
  color: #28395B;
}
.multi-range {
  width: 70%;
}

.indicatorname {
  font-size: 27px;
}

.prom {
  font-size: 20px;
}

#ordertable{
  width: 100%;  
  }
      
  #ordertable ul{
  width:500px;
  }
  
  #ordertable ul li{
  font-size:20px;
  font-weight: 600;
  width: 170px;
  }

}

/*Para ambas pantallas*/

.hide{
    display: none;
  }
  .show{
    display: block;
  }

/*LOGIN*/
.body-login {
    display:flex;
    justify-content:center;
    align-items:center;
    }

.backgroundL-login {
display:flex;
width: 335px;
height: 502px;
padding:82px 20px;
justify-content:center;
flex-direction: column;
    }
    
.all-logo {
display: flex;
width: 221.15px;
height:136px;
padding-left:57px;
padding-right:57px ;
justify-content:center;
flex-direction: column;
}

.logo {
width: 104px;
height: 89px;
margin:auto;
object-fit: cover;
}

#login {
width: 221.15px;
height: 60px;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
font-style: regular;
font-size: 35px;
color: #333333;
text-align: center;
}

form {
width: 335px;
height: 210px;
margin:24px 0px 133px;
}
    
.register {
width: 335px;
height: 82px;
left: 20px;
top: 242px;
margin:0px 0px 12px;
}
    
h2 {
font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
color: #000000;    
}

.writeuser {
width: 335px;
height:45px;
bottom: 0%;
background: #008bccdc;
opacity: 0.5;
border-radius: 20px;
border:#7BE4EA;
font-size: 17px;
text-align: center;
font-weight: 600;
}

.buttonlogin {
  width: 335px;
  height: 50px;
  left: 20px;
  top: 500px;
  bottom: 0%;
  background: #0071BC;
  border-radius: 5px;
  border:#0071BC;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 1px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  justify-content:center;
}
/*LOGIN*/

/*Header*/
header{
margin:0px;
padding:0px;
width:100%; 
background-image: url(img/Logo13.png);
background-color: rgba(123, 229, 234, 0.445);
background-size: cover;
}
    
.head{
color: #28395B;
font-family: 'Open Sans', sans-serif;
font-weight: 900;
}

.head a{
text-decoration: none;
  }

/*Header*/

/*Select country*/
.bodySelectCountry {
margin:0px;
display:flex;
flex-direction:column;
height:100vh;
}
 
#countries ul li{
font-family: 'Open Sans', sans-serif;
background-color: #0071BC;
text-align: center;
padding: 5px;
padding-bottom: 5px;
border-radius: 20px;
box-shadow: 5px 0px 10px #939393;
-webkit-transition:all 500ms ease;
-o-transition:all 500ms ease;
transition: all 500ms ease;
color:white;
margin: auto;
}

#countries ul{
  display:inline;
  display:flex;
  justify-content:space-around;
  }

.selectcountry {
display: flex;
justify-content: center;
align-items: center;
}
  
.selectcountry h {
font-family: 'Open Sans', sans-serif;
font-weight: bold;
color:#333333;
}

main {
  background: rgba(123, 195, 240, 0.658);
  }

#countries ul li:hover /* dar el efecto hover, de boton*/
  {
background: rgb(111, 232, 238);
border-radius: 100px; /*para dar el efecto de borde*/
}

/*Select country*/

/*Select indicator*/
.buttonindicator {
  position: relative;
  width: 100%;
  background-color: #0071BC;
  border-top: 1px solid #BDC3C7;
  }   

#screencountry ul a{
  text-align: justify;
}

.menu ul {
  list-style: none;
  margin:0;
}

.menu ul li{
    position: relative;
    width: 100%;
    background-color: #34495E;
    border-top: 1px solid #BDC3C7;
  }


.menu ul li a{
  font-weight: 600;
  color: #FFF;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}    

.menu ul li:hover >ul {
  opacity: 1;
  visibility: visible;
}

.titleindicators {
font-family: 'Open Sans', sans-serif;
font-style: regular;
color: #FFF;
}

.contselect {
  background-color: rgba(237, 241, 245, 0.589);
  color: rgb(18, 55, 97);
  text-align: center;
  width: 80%;
  margin: 10px 10%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  }

/*Select Indicator*/

/*Slider*/
slide p{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  width: 100%;
  }

  .sli{
    width: 100%;
  }
   
  .cont{
    display: flex;
    justify-content: flex-end;
    flex-direction:row-reverse;
    }
  
  .newcont{
      display: flex;
     /* justify-content: flex-end;
      flex-direction:row-reverse;*/
  }

@keyframes slide{
    0% { left: 100%; width: 100%;}
    5% { left: 0;}
    25%{ left: 0%;}
    30%{ left: -100%; width: 100%;}
    30.0001%{ left: -100%; width: 0%;}
    100%{ left: 100%; width: 0%;}
}

slider{
  margin: 10px 2.5%;
  border-radius: 20px;
}

slider > *{
position: absolute;
display: block;
width: 100%;
height: 100%;
background: #FFF;
animation: slide 30s infinite;
overflow: hidden;
}

/*Slider*/

/*Presentation Peru*/
  
  #presentationper slider{
    display: block;
    background-image: url(img/Peru5.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 20%;
    overflow: hidden;
    position: absolute;
  }

  #presentationper slider slide:nth-child(1){
  left: 0%;
  animation-delay: 0s;
  background-image: url(img/Peru1.jpeg);
  background-size: cover;
  background-position: center;
  text-align: center;
  display:flex;
  justify-content: left;
  align-items:flex-end;
  }
  
  #presentationper slider slide:nth-child(2){
  left: 0%;
  animation-delay: -5s;
  background-image: url(img/Peru2.jpeg);
  background-size: cover;
  background-position: 50% 0%;
  text-align: center;
  display:flex;
  justify-content: left;
  align-items:flex-end;
  }
  
  #presentationper slider slide:nth-child(3){
  left: 0%;
  animation-delay: -10s;
  background-image: url(img/Peru3.jpg);
  background-size: cover;
  background-position: 40% 20%;
  text-align: center;
  display:flex;
  justify-content: left;
  align-items:flex-end;
  }
  
  #presentationper slider slide:nth-child(4){
  left: 0%;
  animation-delay: -15s;
  background-image: url(img/Peru4.jpg);
  background-size: cover;
  background-position: 40% 30%;
  text-align: center;
  display:flex;
  justify-content: left;
  align-items:flex-end;
  } 

/*Presentation Peru*/

/*Presentacion CHL*/

#presentationchl slider{
  display: block;
  background-image: url(img/Peru5.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position: 50% 20%;
  overflow: hidden;
  position: absolute;
}

#presentationchl slider slide:nth-child(1){
left: 0%;
animation-delay: 0s;
background-image: url(img/Peru1.jpeg);
background-size: cover;
background-position: center;
text-align: center;
display:flex;
justify-content: left;
align-items:flex-end;
}

#presentationchl slider slide:nth-child(2){
left: 0%;
animation-delay: -5s;
background-image: url(img/Peru2.jpeg);
background-size: cover;
background-position: 50% 0%;
text-align: center;
display:flex;
justify-content: left;
align-items:flex-end;
}

#presentationchl slider slide:nth-child(3){
left: 0%;
animation-delay: -10s;
background-image: url(img/Peru3.jpg);
background-size: cover;
background-position: 40% 20%;
text-align: center;
display:flex;
justify-content: left;
align-items:flex-end;
}

#presentationchl slider slide:nth-child(4){
left: 0%;
animation-delay: -15s;
background-image: url(img/Peru4.jpg);
background-size: cover;
background-position: 40% 30%;
text-align: center;
display:flex;
justify-content: left;
align-items:flex-end;
} 

/*Presentacion CHL*/

/*Presentacion MEX*/

#presentationmex slider{
  display: block;
  background-image: url(img/Peru5.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position: 50% 20%;
  overflow: hidden;
  position: absolute;
}

#presentationmex slider slide:nth-child(1){
left: 0%;
animation-delay: 0s;
background-image: url(img/Peru1.jpeg);
background-size: cover;
background-position: center;
text-align: center;
display:flex;
justify-content: left;
align-items:flex-end;
}

#presentationmex slider slide:nth-child(2){
left: 0%;
animation-delay: -5s;
background-image: url(img/Peru2.jpeg);
background-size: cover;
background-position: 50% 0%;
text-align: center;
display:flex;
justify-content: left;
align-items:flex-end;
}

#presentationmex slider slide:nth-child(3){
left: 0%;
animation-delay: -10s;
background-image: url(img/Peru3.jpg);
background-size: cover;
background-position: 40% 20%;
text-align: center;
display:flex;
justify-content: left;
align-items:flex-end;
}

#presentationmex slider slide:nth-child(4){
left: 0%;
animation-delay: -15s;
background-image: url(img/Peru4.jpg);
background-size: cover;
background-position: 40% 30%;
text-align: center;
display:flex;
justify-content: left;
align-items:flex-end;
} 

/*Presentacion MEX*/
/*Presentacion BRA*/

#presentationbra slider{
  display: block;
  background-image: url(img/Peru5.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position: 50% 20%;
  overflow: hidden;
  position: absolute;
}

#presentationbra slider slide:nth-child(1){
left: 0%;
animation-delay: 0s;
background-image: url(img/Peru1.jpeg);
background-size: cover;
background-position: center;
text-align: center;
display:flex;
justify-content: left;
align-items:flex-end;
}

#presentationbra slider slide:nth-child(2){
left: 0%;
animation-delay: -5s;
background-image: url(img/Peru2.jpeg);
background-size: cover;
background-position: 50% 0%;
text-align: center;
display:flex;
justify-content: left;
align-items:flex-end;
}

#presentationbra slider slide:nth-child(3){
left: 0%;
animation-delay: -10s;
background-image: url(img/Peru3.jpg);
background-size: cover;
background-position: 40% 20%;
text-align: center;
display:flex;
justify-content: left;
align-items:flex-end;
}

#presentationbra slider slide:nth-child(4){
left: 0%;
animation-delay: -15s;
background-image: url(img/Peru4.jpg);
background-size: cover;
background-position: 40% 30%;
text-align: center;
display:flex;
justify-content: left;
align-items:flex-end;
} 

/*Presentacion BRA*/

.multi-range, .multi-range * { box-sizing: border-box; padding: 0; margin: 0; }
.multi-range { 
    position: relative; width: 75%; height: 28px; margin: 6px;
    border: 1px solid #ddd; font-family: monospace;
}
.multi-range > hr { position: absolute; width: 100%; top: 50%; }
.multi-range > input[type=range] {
    width: calc(100% - 16px); 
    position: absolute; bottom: 6px; left: 0;
}
.multi-range > input[type=range]:last-of-type { margin-left: 16px; }
.multi-range > input[type=range]::-webkit-slider-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-webkit-slider-runnable-track { -webkit-appearance: none; height: 0px; }
.multi-range > input[type=range]::-moz-range-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-moz-range-track { -webkit-appearance: none; height: 0px; }
.multi-range > input[type=range]::-ms-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-ms-track { -webkit-appearance: none; height: 0px; }

#banner{
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  }


 .contenedor{
    background-image:url(img/1.1.png);
    padding: 50px;
    color: #fff;
    background-size: cover;
    font-family: 'Open Sans',sans-serif;
  }

.contenedor-bm{
background: rgba(0, 0, 0, 0.69);
padding: 10px;
}
  

  #banner a {
    display: block;
    width:  100px;
    color: #fff;
    text-decoration: none;
    padding: 2px;
    margin-top: 10px;
    border: 3px solid #fff;
  }
  #banner a:hover {
    background: rgba (51,51,51,0.5);
  }


.titu{
  text-align: center;
  font-size: 40px;
  color: #0071BC;
  padding: 5px 45%;
  font-family: 'Open Sans', sans-serif;
}
.info-colum{
  background-size: cover;
 /* height: 30%;*/
  margin: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  color: #fff;
  padding: 0px;
  font-weight: bolder;
  font-family: 'Open Sans',sans-serif;
 /* width: 35%;*/
}

.info-colum1{
      background-image: url(img/info1.jpg); 
     
}
.info-colum2{
  background-image: url(img/info2.jpg); 
 

}
.info-colum3{
  background-image: url(img/info3.jpg); 
  
}
.info-colum4{
  background-image: url(img/info4.jpg); 
 
}

.info-descrip{
  color: #fff;
  background: rgba(0, 0, 0, 0.521);
  height: 90%;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
}
/*
.descrip-titu{
  font-size: 25px;
  margin: 5px 0;
  background: #fff;
}
.info-img{
width: -webkit-fill-available;
margin: -10px;
}}*/
.link{
  display: block;
    width:  50%;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
}



  #info{
       width: 100%;
      height: auto;
      background: #fff;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: wrap;
      margin-bottom: 3%;
    }


  .titu{
    width: 100%
  }
 
    .mision{
      background-color: #009fda;
      padding: 50px;
      color: #fff;
      text-align: center;
      font-family: 'Open Sans',sans-serif;
      padding: 3%;
    }
    .mision h2{
      font-size: 40px; 
      color: #fff;
    }  
    .mision h3{
      font-size: 20px;
    }
    
  #dat{
    color: #0071BC;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    padding: 2%;
  }
    .dato{
      font-size: 40px;  
    }
    .datos{     
      font-size: 20px;
      color: #0071BC;
    }
  
    .bloque{
      width: 100%;
      height: auto;
      background: #fff;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: wrap;
      margin-bottom: 50px;
    }
  
    .pais{
  
      background-color: #0071BC; 
      width: 20%;
      height: 50px;
      margin: 20px;
      box-sizing: border-box;
      border-radius: 3px;
      color: #fff;
      padding: 10px;
      font-weight: bolder;
      font-family: 'Open Sans',sans-serif;
      text-align: center;
    }

.footer{
  background: #0071BC;
  opacity: 0.8;
  color: #fff;
  text-align: end;
}
.footer .foot{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
   padding: 5px 20px;
}

#mistakelogin{
  color: red;
  text-align: center;
  font-family: 'open sans';
  font-weight: bold;
}

.indicatorname {
  background: rgba(255, 255, 255, 0.418);
  width: 97.5%;
  margin:10px;
  text-align: center;
  font-family: 'open sans';
  font-weight: bold;
  color: #333333;
}

.tableyprom {
  text-align: center;
  /*margin:10px;
  width: 97.5%;*/
  background: rgba(250, 251, 252, 0.432);
  font-family: 'open sans';
  font-weight: bold;
  color: #28395B;
}

#ordertable ul li{
  font-family: 'Open Sans', sans-serif;
  background-color: #0071BC;
  text-align: center;
  padding: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  box-shadow: 5px 0px 10px #939393;
  -webkit-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition: all 500ms ease;
  color:white;
  margin: auto;
  }
  
  #ordertable ul{
    display:inline;
    display:flex;
    justify-content:space-around;
    }
  
#ordertable ul li:hover /* dar el efecto hover, de boton*/
  {
background: rgb(111, 232, 238);
border-radius: 100px; /*para dar el efecto de borde*/
}